<template name="backlogList">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <h1 class="panel-title pull-left">
                Backlog
                <small>
                  {{issueCount}} issue{{#if moreThanOneIssue}}s{{/if}}
                </small>
            </h1>
            <button class="btn btn-default pull-right createSprint" type="submit">Create Sprint</button>
        </div>
        <table class="table table-responsive">
            <tbody>
            {{#if noIssues}}
                <tr>
                    <td>There are currently no issues. Maybe you can create one?</td>
                </tr>
            {{else}}
              {{#each issues}}
                {{> issueItem}}
              {{/each}}
            {{/if}}

            <tr>
                <td colspan="6">
                    <form class="newIssue">
                        <input type="text" class="form-control" name="summary" placeholder="Type the user story here">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>
