<template name="issuesList">
    <div class="panel panel-default">
        <!--<div class="panel-heading">Issues in {{projectName}}</div>-->
        {{#if noIssues}}
            <div class="panel-body">
                <p>There are currently no issues. Maybe you can create one?</p>
            </div>
        {{else}}
            <table class="table">
                <tbody>
                  {{#each issues}}
                    {{> issueItem}}
                  {{/each}}
                </tbody>
            </table>
        {{/if}}
    </div>
</template>
