<template name="sprintStartForm">
    <button type="button" class="btn btn-primary openStartSprintForm pull-right" data-toggle="modal"
            data-target="#openStartSprintForm"
            disabled={{#if noIssues}}"disabled"{{/if}}>Start Sprint</button>
    <div class="modal fade" id="openStartSprintForm" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Start Sprint</h4>
                </div>
                <div class="modal-body">
                    <!--<div class="list-group">-->
                      <!--{{#each release in releases}}-->
                        <!--{{#with release}}-->
                          <!--{{#if isChosenRelease release._id}}-->
                              <!--<a href="#" class="list-group-item active chooseRelease">{{release.releaseName}}</a>-->
                          <!--{{else}}-->
                              <!--<a href="#" class="list-group-item chooseRelease">{{release.releaseName}}</a>-->
                          <!--{{/if}}-->
                        <!--{{/with}}-->
                      <!--{{/each}}-->
                    <!--</div>-->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default confirmRelease" data-dismiss="modal">Start</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>

        </div>
    </div>
</template>
