<template name="sprintsList">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <h1 class="panel-title pull-left">
              {{sprintName}}
                <small>{{issueCount}} issue{{#if moreThanOneIssue}}s{{/if}}</small>
            </h1>
          {{#unless isActive}}
              <div class="dropdown pull-right" style="margin-left: 10px">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                          data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="true">
                      <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    {{#unless isTopSprint}}
                        <li><a href="#" class="moveSprintUp">Move sprint up</a></li>
                    {{/unless}}
                    {{#unless isLastSprint}}
                        <li><a href="#" class="moveSprintDown">Move sprint down</a></li>
                    {{/unless}}
                    {{#unless isTheOnlySprint}}
                        <li role="separator" class="divider"></li>
                    {{/unless}}
                      <li><a href="#" class="deleteSprint">Delete sprint</a></li>
                  </ul>
              </div>
            {{else}}
              <div class="pull-right" style="display: flex; align-items: center;">
                  <span class="badge" style="background-color: #4a6785">{{todoCount}}</span>
                  <span class="badge" style="margin-left: 5px; background-color: #f6c342">{{inProgressCount}}</span>
                  <span class="badge" style="margin-left: 5px; background-color: #14892c">{{doneCount}}</span>
              </div>
          {{/unless}}
          {{#if isTopSprint}}
            {{> sprintStartForm}}
          {{/if}}
        </div>
        <table class="table">
            <tbody>
            {{#if noIssues}}
                <tr>
                    <td>There are currently no issues in this sprint</td>
                </tr>
            {{else}}
              {{#each issues}}
                {{> issueItem}}
              {{/each}}
            {{/if}}

            {{#unless isActive}}
            <tr>
                <td colspan="6">
                    <form class="newIssue">
                        <input type="text" class="form-control" name="summary" placeholder="Type the user story here">
                    </form>
                </td>
            </tr>
            {{/unless}}
            </tbody>
        </table>
      {{#unless isActive}}
          <div class="panel-footer clearfix">
              <div class="pull-right" style="display: flex; align-items: center;">
                  <small>{{issueCount}} issue{{#if moreThanOneIssue}}s{{/if}}</small>
                  <small style="margin-left: 30px; margin-right: 4px;">Estimate</small>
                  <span class="badge">{{estimate}}</span>
              </div>
          </div>
      {{/unless}}
    </div>
</template>
